HopefulDemise/Content/MetaHumans/Ettore/Face/Ettore_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
HopefulDemise/Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
